.u-section-1 .u-sheet-1 {
  min-height: 500px;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 50px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.menu-items{
	position: absolute;
	bottom: calc(100% +10px);
	right: 10px;
	margin:0;
	padding:5px 0;
	min-width:150px;
	background: #eeeeee;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.25);
	
	
}


.display .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}
.floatbtn .tooltiptext1 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}
.floatbtn
	{
	width:60px;
	height:60px;
	background:#478ac9;
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	border-radius:30%;
	color:#ffffff
	font-size:40px;
	position:fixed;
	right:40px;
	bottom:20px;
	left:1380px;
	
}

.floatbtn:hover .tooltiptext1 {
  visibility: visible;

}
.display:hover .tooltiptext {
  visibility: visible;
}
.display{
	width:50px;
	height:50px;
	background:#c203fc;
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	border-radius:50%;
	color:#ffffff;
	font-size:40px;
	right:50px;
	bottom:20px;
	left:1380px;
	
	
}
/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
